.dropdown:click>.dropdown-menu{
    display: block;
}
.navbar-dark .navbar-nav .nav-link, .login {
    color: rgb(0, 0, 0)!important;
    
    font-weight: bold; 
}
.navbar-dark .navbar-nav .nav-link.active, login {
    color: #FAFDFF !important;
    font-weight: bold; 
}

.bottom-line {
    border-bottom: 2px solid #172c3a;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FAFDFF !important;
    font-weight: bold; 
}

.mainColor { 
    background-image: url(../../assets/images/border.png)
}

#brandIcon:hover {
    color:black;
}

#navbarDropdownMenuLink {
    cursor: pointer;
}

.dropdown-item {
    cursor:pointer;
}
.dropdown-item:hover {
    background-color: #CCDDE8!important;
}

#loginForm {
    color: rgb(0, 0, 0)!important;
    font-weight: bold;
}
 

