.hr-primary{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #798E9C inset;
	}

input.ng-invalid.ng-touched.markedInput{
	border: 1px red solid!important;
}

input.ng-valid.ng-touched.markedInput {
	border: 1px rgb(20, 238, 20) solid;
}

textarea.ng-valid.ng-touched.markedInput {
	border: 1px rgb(20, 238, 20) solid;
}

textarea.ng-invalid.ng-touched.markedInput {
	border: 1px red solid!important;
}

button[disabled]:hover {
    cursor: not-allowed! important;
}