body {
    font-family: 'Crimson Text', serif;
    background-color: #669999;
    /* background-image: url(../assets/images/background.png); */
    font-size: larger;
    background-image: linear-gradient(90deg, #000, #699 11%, #699 22%, #699 87%, #4f4f4f 93%, #000);
    background-image: -webkit-gradient(
    linear 
    ,left top
    ,right top, 
    from(#000), 
    color-stop(11%, #699),
    color-stop(11%, #699), 
    color-stop(22%, #699), 
    color-stop(93%, #699), to(#000));
}



.container{
    background-color: #FAFDFF;
}

.height100 {
    height: 100vh;
}


/* spinner */

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid rgb(126, 114, 114);
    border-color: rgb(146, 136, 136) transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  /* end spinner */

  #containerHeight {
    min-height: 100vh;
  }