h4, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 145px;
  }

  .active {
    background: #CCDDE8!important;
    border-color: #CCDDE8!important;
    font-weight: bold!important;
  }