<div class="row">
  <div class="col-lg-5 text-center">
    <button class="btn btn-block btn-outline-secondary" [routerLink]="['/my-recipes', 'new']">New Recipe</button>
    <hr>
    <div class="container">
        <div class="row">
          <div class="col-12" *ngFor="let recipe of privateRecipes | 
          paginate: { itemsPerPage: 5, currentPage: currentPage }; let i = index; ">
            <ul style="list-style: none; margin: 0px; padding:0">
              <app-one-recipe [recipe]="recipe"></app-one-recipe>
            </ul>
          </div>
        </div>
        <div class="m-2 pr-5"> 
            <pagination-controls  
             (pageChange)="currentPage = $event" 
             class="my-pagination"
             autoHide="true"
             ></pagination-controls>
        </div>
    </div>
  </div>
    <div class="col-lg-7 pt-2">
      <router-outlet></router-outlet>
    </div>
</div>
