.col-md-12 { 
    margin: 3px;
}
 

.float-left {
    max-width: 50%;
}
/* 
.row {
    min-height: 100vh;
} */

@media(min-width:992px){
    .row {
        min-height: 100vh;
    }
}
 
.my-pagination /deep/ .ngx-pagination .current {
    background: #798E9C;
  }