<div class="container">
  <div class="row">
    <div class="col-xs-10 m-auto pt-5">
      <div class="card shadow-lg p-2 mb-5 bg-white" style="width: 400px">
        <div class="card-body">
          <div class="card-title text-center text-uppercase">
            <div id="legend">
              <legend class="h1 mb-4">Register</legend>
            </div>
          </div>
          <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <fieldset> 

              <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                  <input formControlName="regEmail"  type="text" id="regEmail" name="regEmail" placeholder="" class="form-control">
                  <p *ngIf="!registerForm.controls.regEmail.valid && 
                  registerForm.controls.regEmail.touched" 
                  class="help-block text-danger">Please provide your E-mail</p>
                </div>
              </div>

              <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                  <input type="password" formControlName="password" id="password" name="password" placeholder="" class="form-control">
                  <p *ngIf="!registerForm.controls.password.valid && 
                  registerForm.controls.password.touched" 
                  class="help-block text-danger">Password should be at least 6 characters</p>
                </div>
              </div>

              <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">Password (Confirm)</label>
                <div class="controls">
                  <input type="password" formControlName="confirmPassword" id="password_confirm" name="password_confirm" placeholder=""
                    class="form-control">
                  <p *ngIf="!registerForm.controls.confirmPassword.valid && 
                  registerForm.controls.confirmPassword.touched"
                   class="help-block text-danger">Please confirm password</p>
                </div>
              </div>

              <div class="control-group mt-5">
                  <p *ngIf="!(registerForm.controls.confirmPassword.value === 
                  registerForm.controls.password.value) && 
                  registerForm.controls.password.touched &&
                  registerForm.controls.confirmPassword.touched"
                   class="help-block text-danger text-center">Password must match!</p>
                <!-- Button -->
                <div class="controls">
                  <button 
                  [disabled]="buttonStatus"

                  class="btn btn-outline-secondary btn-block" 
                  type="submit">Register</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>